swagger: '2.0'
info:
  description: Hệ thống luồng dữ liệu Vshare
  version: 1.0.0
  title: Vshare
host: api-vshare.amazingtech.vn
basePath: /api/v1
tags:
  - name: province
    description: Quản lý Tỉnh thành
  - name: district
    description: Quản lý Quận huyện
  - name: vehicle-brand
    description: Quản lý Hãng xe
  - name: vehicle-model
    description: Quản lý Hiệu xe
  - name: vehicle
    description: Quản lý Kho xe
  - name: attribute
    description: Quản lý Các tính năng của xe
  - name: branch-vehicle
    description: Quản lý Xe chi nhánh
  - name: vehicle-price
    description: Cấu hình giá xe theo hạng
  - name: customer
    description: Quản lý Khách hàng
  - name: booking
    description: Quản lý Đơn đặt xe
  - name: upload
    description: Upload file
  - name: user
    description: Quản lý Người dùng
  - name: trust-score
    description: Quản lý điểm tín dụng
  - name: booking-schedule
    description: Quản lý lịch xe
  - name: delivery-task
    description: Quản lý giao nhận
  - name: owner-contract
    description: Quản lý hợp đồng
schemes:
  - https
paths:
  /customers:
    get:
      tags:
        - customer
      summary: Danh sách Khách hàng
      operationId: CustomerList
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            profile_status: multi_select:config
        - in: query
          name: phone
          type: string
          description: Số điện thoại
        - in: query
          name: fullname
          type: string
          description: Tên khách hàng
        - in: query
          name: email
          type: string
          description: Email
        - in: query
          name: bookings
          type: string
          description: Mã đơn hàng
        - in: query
          name: number_success_booking
          type: integer
          description: Số lượng đơn hàng thành công
        - in: query
          name: profile_status
          type: integer
          description: Trạng thái hồ sơ
        - in: query
          name: address
          type: string
          description: Địa chỉ
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                fullname:
                  type: string
                  description: Họ và tên
                phone:
                  type: string
                  description: Số điện thoại
                email:
                  type: string
                  description: Email
                bookings:
                  type: string
                  description: Mã booking
                number_success_booking:
                  type: string
                  description: Tình trạng
                address:
                  type: string
                  description: Địa chỉ
                profile_status:
                  type: integer
                  description: Hồ sơ
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - customer
      summary: Thêm mới khách hàng
      operationId: CustomerCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            deposit_asset: select:config
            customer_image_identity: file
            customer_image_driver_licence: file
            customer_image_house_hold: file
            customer_image_other_paper: file
            customer_image_asset_deposit: file
            verify_status.identity: select:config
            verify_status.driver_licence: select:config
            verify_status.house_hold: select:config
            verify_status.other_paper: select:config
            verify_status.asset_deposit: select:config
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/CustomerParams'
              - required:
                  - phone
                  - fullname
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /customers/{id}:
    get:
      tags:
        - customer
      summary: Lấy thông tin Khách hàng
      operationId: CustomerDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Customer'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - customer
      summary: Cập nhật thông tin Khách hàng
      operationId: CustomerEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            birthday: date
            identity_date: date
            driver_licence_date: date
            house_hold_date: date
            customer_note: textarea
            approve_note: textarea
            customer_image_identity_front: file
            customer_image_identity_back: file
            customer_image_driver_licence_front: file
            customer_image_driver_licence_back: file
            customer_image_house_hold: multi_file
            customer_image_other_paper: multi_file
            customer_image_asset_deposit: multi_file
            verify_identity: select:config
            verify_driver_licence: select:config
            verify_house_hold: select:config
            verify_other_paper: select:config
            verify_asset_deposit: select:config
            asset_deposit: select:config
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CustomerParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /customers/{id}/bookings:
    get:
      tags:
        - customer
      summary: Lấy danh sách đơn hàng của Khách hàng
      operationId: CustomerBookings
      parameters:
        - name: id
          in: path
          required: true
          type: integer
        - in: query
          name: 3p
          type: string
          default:
            receive_datetime_from: date
            receive_datetime_to: date
            return_datetime_from: date
            return_datetime_to: date
            booking_status: multi_select:config
            level: multi_select:config
            source: select:config
            estimate_branch_vehicle_id: select
            actual_branch_vehicle_id: select
            branch_id: select
        - in: query
          name: code
          type: string
        - in: query
          name: level
          type: string
        - in: query
          name: booking_status
          type: integer
        - in: query
          name: branch_id
          type: integer
          description: Chi nhánh
        - in: query
          name: estimate_branch_vehicle_id
          type: integer
          description: Xe giao dự kiến
        - in: query
          name: actual_branch_vehicle_id
          type: integer
          description: Xe giao thực tế
        - in: query
          name: source
          type: string
          description: Nguồn
        - in: query
          name: receive_datetime_from
          type: string
          format: YYYY-MM-DD
          description: Ngày nhận từ
        - in: query
          name: receive_datetime_to
          type: string
          format: YYYY-MM-DD
          description: Ngày nhận đến
        - in: query
          name: return_datetime_from
          type: string
          format: YYYY-MM-DD
          description: Ngày trả từ
        - in: query
          name: return_datetime_to
          type: string
          format: YYYY-MM-DD
          description: Ngày trả đến
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                code:
                  type: string
                  description: Mã đơn
                branch_id:
                  type: string
                  description: Chi nhánh
                fullname:
                  type: string
                  description: Khách hàng
                phone:
                  type: string
                  description: Số điện thoại
                email:
                  type: string
                  description: Email
                estimate_branch_vehicle_id:
                  type: string
                  description: Xe thuê dự kiến
                actual_branch_vehicle_id:
                  type: string
                  description: Xe thuê thực tế
                price:
                  type: string
                  description: Giá thuê DK/TT
                receive_datetime:
                  type: string
                  description: Trả xe DK/TT
                return_datetime:
                  type: string
                  description: Trả xe DK/TT
                rental_duration:
                  type: string
                  description: Ngày thuê DK/TT
                source:
                  type: string
                  description: Nguồn
                level:
                  type: string
                  description: Level
                booking_status:
                  type: integer
                  description: Trạng thái
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /provinces:
    get:
      tags:
        - province
      summary: Danh sách tỉnh thành
      operationId: ProvinceList
      parameters:
        - in: query
          name: name
          type: string
          description: Tên tỉnh thành
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                name:
                  type: string
                  description: Tên tỉnh thành
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - province
      summary: Thêm mới tỉnh thành
      operationId: ProvinceCreate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/ProvinceParams'
              - required:
                  - name
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /provinces/{id}:
    get:
      tags:
        - province
      summary: Lấy thông tin tỉnh thành
      operationId: ProvinceDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Province'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - province
      summary: Cập nhật thông tin tỉnh thành
      operationId: ProvinceEdit
      parameters:
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ProvinceParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - province
      summary: Xóa tỉnh thành
      operationId: ProvinceDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /districts:
    get:
      tags:
        - district
      summary: Danh sách quận huyện
      operationId: DistrictList
      parameters:
        - in: query
          name: name
          type: string
          description: Tên quận huyện
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                name:
                  type: string
                  description: Tên quận huyện
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - district
      summary: Thêm mới quận huyện
      operationId: DistrictCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            province_id: select
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/DistrictParams'
              - required:
                  - province_id
                  - name
                  - code
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /districts/{id}:
    get:
      tags:
        - district
      summary: Lấy thông tin quận huyện
      operationId: DistrictDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/District'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - district
      summary: Cập nhật thông tin quận huyện
      operationId: DistrictEdit
      parameters:
        - name: id
          in: path
          required: true
          type: integer
        - in: query
          name: 3p
          type: string
          default:
            province_id: select
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DistrictParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - district
      summary: Xóa quận huyện
      operationId: DistrictDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /vehicle-brands:
    get:
      tags:
        - vehicle-brand
      summary: Danh sách hãng xe
      operationId: VehicleBrandList
      parameters:
        - in: query
          name: name
          type: string
          description: Tên hãng xe
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                name:
                  type: string
                  description: Tên hãng xe
                vehicle_type:
                  type: string
                  description: Loại xe
                position:
                  type: integer
                  description: Thứ tự
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - vehicle-brand
      summary: Thêm mới hãng xe
      operationId: VehicleBrandCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            vehicle_type: select:config
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/VehicleBrandParams'
              - required:
                  - vehicle_type
                  - name
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /vehicle-brands/{id}:
    get:
      tags:
        - vehicle-brand
      summary: Lấy thông tin hãng xe
      operationId: VehicleBrandDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VehicleBrand'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - vehicle-brand
      summary: Cập nhật thông tin hãng xe
      operationId: VehicleBrandEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            vehicle_type: select:config
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/VehicleBrandParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - vehicle-brand
      summary: Xóa hãng xe
      operationId: VehicleBrandDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /vehicle-models:
    get:
      tags:
        - vehicle-model
      summary: Danh sách hiệu xe
      operationId: VehicleModelList
      parameters:
        - in: query
          name: name
          type: string
          description: Tên hiệu xe
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                brand_name:
                  type: string
                  description: Hãng xe
                name:
                  type: string
                  description: Tên hiệu xe
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - vehicle-model
      summary: Thêm mới hiệu xe
      operationId: VehicleModelCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            brand_id: select
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/VehicleModelParams'
              - required:
                  - brand_id
                  - name
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /vehicle-models/{id}:
    get:
      tags:
        - vehicle-model
      summary: Lấy thông tin hiệu xe
      operationId: VehicleModelDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VehicleModel'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - vehicle-model
      summary: Cập nhật thông tin hiệu xe
      operationId: VehicleModelEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            brand_id: select
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/VehicleModelParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - vehicle-model
      summary: Xóa hiệu xe
      operationId: VehicleModelDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /attributes:
    get:
      tags:
        - attribute
      summary: Danh sách tính năng
      operationId: AttributeList
      parameters:
        - in: query
          name: name
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                name:
                  type: string
                  description: Tên tính năng
                icon:
                  type: string
                  description: Icon/hình đại diện
                priority:
                  type: integer
                  description: Thứ tự sắp xếp
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - attribute
      summary: Thêm mới tính năng
      operationId: AttributeCreate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/AttributeParams'
              - required:
                  - name
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /attributes/{id}:
    get:
      tags:
        - attribute
      summary: Lấy thông tin tính năng
      operationId: AttributeDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Attribute'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - attribute
      summary: Cập nhật thông tin tính năng
      operationId: AttributeEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            icon: file
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AttributeParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - attribute
      summary: Xóa tính năng
      operationId: AttributeDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /vehicles:
    get:
      tags:
        - vehicle
      summary: Danh sách kho xe
      operationId: VehicleList
      parameters:
        - in: query
          name: name
          type: string
          description: Tên xe
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                vehicle_type:
                  type: string
                  description: Loại xe
                name:
                  type: integer
                  description: Tên xe
                vehicle_class:
                  type: string
                  description: Hạng xe
                version:
                  type: string
                  description: Phiên bản xe
                seats:
                  type: integer
                  description: Số chỗ ngồi
                transmission:
                  type: string
                  description: Truyền động
                fuel:
                  type: string
                  description: Nhiên liệu
                fuel_consumption:
                  type: string
                  description: Mức tiêu thụ
                style:
                  type: string
                  description: Kiểu dáng
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - vehicle
      summary: Thêm mới xe
      operationId: VehicleCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            vehicle_type: select:config
            brand_id: select
            model_id: select
            vehicle_class: select:config
            transmission: select:config
            fuel: select:config
            style: select:config
            attributes: multi_select
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/VehicleParams'
              - required:
                  - vehicle_type
                  - brand_id
                  - model_id
                  - version
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /vehicles/{id}:
    get:
      tags:
        - vehicle
      summary: Lấy thông tin xe
      operationId: VehicleDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Vehicle'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - vehicle
      summary: Cập nhật thông tin xe
      operationId: VehicleEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            vehicle_type: select:config
            brand_id: select
            model_id: select
            vehicle_class: select:config
            transmission: select:config
            fuel: select:config
            style: select:config
            attributes: multi_select
            image: file
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/VehicleParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - vehicle
      summary: Xóa xe
      operationId: VehicleDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /branchs:
    get:
      tags:
        - branch
      summary: Danh sách chi nhánh
      operationId: BranchList
      parameters:
        - in: query
          name: code
          type: string
          description: Mã chi nhánh
        - in: query
          name: name
          type: string
          description: Tên chi nhánh
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                name:
                  type: string
                  description: Tên chi nhánh
                code:
                  type: string
                  description: Mã chi nhánh
                province_name:
                  type: string
                  description: Tỉnh thành
                district_name:
                  type: string
                  description: Quận huyện
                address:
                  type: string
                  description: Địa chỉ
                rental_time:
                  type: string
                  description: Giờ cho thuê
                active:
                  type: string
                  description: Trạng thái
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - branch
      summary: Thêm mới chi nhánh
      operationId: BranchCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            province_id: select
            district_id: select
            active: check
            rental_time_from: time
            rental_time_to: time
            procedure.identity: select:config
            procedure.household: select:config
            procedure.driver_licence: select:config
            procedure.deposit: select:config
            procedure.labor_contract: select:config
            procedure.other: select:config
            add_ons: select:config
            payment_methods: multi_select:config
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/BranchParams'
              - required:
                  - name
                  - code
                  - province_id
                  - district_id
                  - address
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /branchs/{id}:
    get:
      tags:
        - branch
      summary: Lấy thông tin chi nhánh
      operationId: BranchDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Branch'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - branch
      summary: Cập nhật thông tin chi nhánh
      operationId: BranchEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            province_id: select
            district_id: select
            active: check
            rental_time_from: time
            rental_time_to: time
            procedure.identity: select:config
            procedure.household: select:config
            procedure.driver_licence: select:config
            procedure.deposit: select:config
            procedure.labor_contract: select:config
            procedure.other: select:config
            add_ons: select:config
            payment_methods: multi_select:config
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BranchParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - branch
      summary: Xóa chi nhánh
      operationId: BranchDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /branch-vehicles:
    get:
      tags:
        - branch-vehicle
      summary: Danh sách xe chi nhánh
      operationId: BranchVehicleList
      parameters:
        - in: query
          name: name
          type: string
          description: Tên xe
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                branch_name:
                  type: string
                  description: Chi nhánh
                name:
                  type: string
                  description: Tên xe
                owner_name:
                  type: string
                  description: Chủ xe
                customer_base_price:
                  type: string
                  description: Giá ngày thường
                customer_weekend_price:
                  type: string
                  description: Giá cuối tuần
                customer_month_price:
                  type: string
                  description: Giá tháng
                customer_month_km_limit:
                  type: string
                  description: Giới hạn km/tháng
                customer_overkm_price:
                  type: string
                  description: Phí vượt km
                customer_overtime_price:
                  type: string
                  description: Phí quá giờ
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - branch-vehicle
      summary: Thêm mới xe chi nhánh
      operationId: BranchVehicleCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            vehicle_id: select
            branch_id: select
            owner_id: select
            rental_type: select:config
            has_maintain: check
            has_insurance: check
            attributes: multi_select
            insurance_expire_date: date
            registry_date: date
            car_image.car_front: file
            car_image.car_back: file
            car_image.car_left: file
            car_image.car_right: file
            car_image.car_interior: file
            car_image.fuel_gauge: file
            car_image.car_video: file
            latest_car_image.car_front: file
            latest_car_image.car_back: file
            latest_car_image.car_left: file
            latest_car_image.car_right: file
            latest_car_image.car_interior: file
            latest_car_image.fuel_gauge: file
            latest_car_image.car_video: file
            active: check
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/BranchVehicleParams'
              - type: object
                properties:
                  attributes:
                    type: array
                    items:
                      type: integer
                      description: ID tính năng xe chi nhánh
              - required:
                  - branch_id
                  - vehicle_id
                  - license_number
                  - customer_base_price
                  - customer_weekend_price
                  - customer_day_km_limit
                  - customer_overkm_price
                  - customer_overtime_price
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /branch-vehicles/{id}:
    get:
      tags:
        - branch-vehicle
      summary: Lấy thông tin xe chi nhánh
      operationId: BranchVehicleDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BranchVehicle'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - branch-vehicle
      summary: Cập nhật thông tin xe chi nhánh
      operationId: BranchVehicleEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            vehicle_id: select
            branch_id: select
            owner_id: select
            rental_type: select:config
            has_maintain: check
            has_insurance: check
            attributes: multi_select
            insurance_expire_date: date
            registry_date: date
            car_image.car_front: file
            car_image.car_back: file
            car_image.car_left: file
            car_image.car_right: file
            car_image.car_interior: file
            car_image.fuel_gauge: file
            car_image.car_video: file
            latest_car_image.car_front: file
            latest_car_image.car_back: file
            latest_car_image.car_left: file
            latest_car_image.car_right: file
            latest_car_image.car_interior: file
            latest_car_image.fuel_gauge: file
            latest_car_image.car_video: file
            car_document_image.registration_document: file
            car_document_image.registration_certificate: file
            car_document_image.liability_insurance_certificate: file
            car_document_image.physical_insurance_certificate: file
            car_document_image.other_document: file
            active: check
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/BranchVehicleParams'
              - type: object
                properties:
                  attributes:
                    type: array
                    items:
                      type: integer
                      description: ID tính năng xe chi nhánh
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - branch-vehicle
      summary: Xóa xe chi nhánh
      operationId: BranchVehicleDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /vehicle-prices:
    get:
      tags:
        - vehicle-price
      summary: Danh sách giá xe theo hạng
      operationId: VehiclePriceList
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                branch_name:
                  type: string
                  description: Chi nhánh
                vehicle_class:
                  type: string
                  description: Hạng xe
                base_price:
                  type: integer
                  description: Giá ngày thường
                weekend_price:
                  type: integer
                  description: Giá cuối tuần
                month_price:
                  type: integer
                  description: Giá tháng
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - vehicle-price
      summary: Thêm mới giá xe theo hạng
      operationId: VehiclePriceCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            branch_id: multi_select
            vehicle_class: select:config
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              branch_id:
                type: array
                description: Chi nhánh
                items:
                  type: integer
              vehicle_class:
                type: string
                description: Hạng xe
                example: SUV
              base_price:
                type: integer
                description: Giá ngày thường
                example: 100000
              weekend_price:
                type: integer
                description: Giá ngày cuối tuần
                example: 110000
              month_price:
                type: integer
                description: Giá thuê tháng
                example: 18000000
              customer_day_price_rules:
                type: array
                items:
                  allOf:
                    - $ref: '#/definitions/CustomerDayPriceRule'
                    - required:
                        - day_count_from
                        - day_count_to
                        - price
            required:
              - vehicle_class
              - base_price
              - weekend_price
              - month_price
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /vehicle-prices/{id}:
    get:
      tags:
        - vehicle-price
      summary: Lấy thông tin giá xe theo hạng
      operationId: VehiclePriceDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VehiclePrice'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - vehicle-price
      summary: Cập nhật thông tin giá xe theo hạng
      operationId: VehiclePriceEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            vehicle_class: select:config
            branch_id: multi_select
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/VehiclePriceParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - vehicle-price
      summary: Xóa giá xe theo hạng
      operationId: VehiclePriceDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /bookings:
    get:
      tags:
        - booking
      summary: Danh sách đơn đặt xe
      operationId: BookingList
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            receive_datetime_from: date
            receive_datetime_to: date
            return_datetime_from: date
            return_datetime_to: date
            booking_status: multi_select:config
            level: multi_select:config
            source: select:config
            estimate_branch_vehicle_id: select
            actual_branch_vehicle_id: select
            branch_id: select
        - in: query
          name: code
          type: string
          description: Mã đơn hàng
        - in: query
          name: phone
          type: string
          description: Số điện thoại
        - in: query
          name: email
          type: string
          description: Email
        - in: query
          name: fullname
          type: string
          description: Tên khách hàng
        - in: query
          name: level
          type: string
        - in: query
          name: booking_status
          type: integer
        - in: query
          name: branch_id
          type: integer
          description: Chi nhánh
        - in: query
          name: estimate_branch_vehicle_id
          type: integer
          description: Xe giao dự kiến
        - in: query
          name: actual_branch_vehicle_id
          type: integer
          description: Xe giao thực tế
        - in: query
          name: source
          type: string
          description: Nguồn
        - in: query
          name: receive_datetime_from
          type: string
          format: YYYY-MM-DD
          description: Ngày nhận từ
        - in: query
          name: receive_datetime_to
          type: string
          format: YYYY-MM-DD
          description: Ngày nhận đến
        - in: query
          name: return_datetime_from
          type: string
          format: YYYY-MM-DD
          description: Ngày trả từ
        - in: query
          name: return_datetime_to
          type: string
          format: YYYY-MM-DD
          description: Ngày trả đến
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                code:
                  type: string
                  description: Mã đơn
                branch_id:
                  type: string
                  description: Chi nhánh
                fullname:
                  type: string
                  description: Khách hàng
                phone:
                  type: string
                  description: Số điện thoại
                email:
                  type: string
                  description: Email
                estimate_branch_vehicle_id:
                  type: string
                  description: Xe thuê dự kiến
                actual_branch_vehicle_id:
                  type: string
                  description: Xe thuê thực tế
                price:
                  type: string
                  description: Giá thuê DK/TT
                receive_datetime:
                  type: string
                  description: Nhận xe DK/TT
                return_datetime:
                  type: string
                  description: Trả xe DK/TT
                rental_duration:
                  type: string
                  description: Ngày thuê DK/TT
                source:
                  type: string
                  description: Nguồn
                level:
                  type: string
                  description: Level
                booking_status:
                  type: integer
                  description: Trạng thái
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - booking
      summary: Thêm mới đơn đặt xe
      operationId: BookingCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            source: select:config
            vehicle_type: select:config
            branch_id: select
            estimate_branch_vehicle_id: select
            actual_branch_vehicle_id: select
            receive_type: select:config
            give_user_id: select
            return_user_id: select
            saler_id: select
            approve_by: select
            approve_status: select:config
            level: select:config
            payment_method: select:config
            receive_note: textarea
            return_note: textarea
            reason_rental: textarea
            approve_note: textarea
            identity_date: date
            driver_licence_date: date
            estimate_receive_datetime: datetime
            estimate_return_datetime: datetime
            contract_receive_datetime: datetime
            contract_return_datetime: datetime
            actual_receive_datetime: datetime
            actual_return_datetime: datetime
            estimate_deposit_paper: select:config
            estimate_deposit_asset: select:config
            deposit.identity_paper: select:config
            deposit.identity_paper_returned: check
            deposit.motor_returned: check
            deposit.motor_registration_returned: check
            deposit.cash_returned: check
            customer_image.identity_front: file
            customer_image.identity_back: file
            customer_image.driver_licence_front: file
            customer_image.driver_licence_back: file
            customer_image.house_hold: file
            before_car_image.car_front: file
            before_car_image.car_back: file
            before_car_image.car_left: file
            before_car_image.car_right: file
            before_car_image.car_interior: file
            before_car_image.fuel_gauge: file
            before_car_image.car_video: file
            after_car_image.car_front: file
            after_car_image.car_back: file
            after_car_image.car_left: file
            after_car_image.car_right: file
            after_car_image.car_interior: file
            after_car_image.fuel_gauge: file
            after_car_image.car_video: file
            booking_paper.rental_contract: file
            booking_paper.receive_report: file
            booking_paper.return_report: file
            contract_created_by: select
            contract_sign_date: datetime
            return_customer_assets: check
            hold_customer_note: textarea
            hold_customer_reason: textarea
            hold_customer_return_date: date
            receive_vehicle_status: textarea
            return_vehicle_status: textarea
            other_costs: select:config
            customer_note: textarea
            birthday: date
            booking_status: select:config
            vehicle_full: check
            return_vehicle_same: check
            estimate_add_ons: select:config
            add_ons: select:config
            car_document_image.registration_document: file
            car_document_image.registration_certificate: file
            car_document_image.liability_insurance_certificate: file
            car_document_image.physical_insurance_certificate: file
            car_document_image.other_document: file
            operation_costs.code: select:config
            post_operation_costs.code: select:config
            final_note: textarea
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/BookingParams'
              - required:
                  - source
                  - vehicle_type
                  - fullname
                  - phone
                  - estimate_branch_vehicle_id
                  - estimate_price
                  - receive_type
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /bookings/{id}:
    get:
      tags:
        - booking
      summary: Lấy thông tin đơn đặt xe
      operationId: BookingDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Booking'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - booking
      summary: Cập nhật thông tin đơn đặt xe
      operationId: BookingEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            source: select:config
            vehicle_type: select:config
            branch_id: select
            estimate_branch_vehicle_id: select
            actual_branch_vehicle_id: select
            receive_type: select:config
            give_user_id: select
            return_user_id: select
            saler_id: select
            approve_by: select
            approve_status: select:config
            level: select:config
            payment_method: select:config
            receive_note: textarea
            return_note: textarea
            reason_rental: textarea
            approve_note: textarea
            identity_date: date
            driver_licence_date: date
            estimate_receive_datetime: datetime
            estimate_return_datetime: datetime
            contract_receive_datetime: datetime
            contract_return_datetime: datetime
            actual_receive_datetime: datetime
            actual_return_datetime: datetime
            estimate_deposit_paper: select:config
            estimate_deposit_asset: select:config
            deposit.identity_paper: select:config
            deposit.identity_paper_returned: check
            deposit.motor_returned: check
            deposit.motor_registration_returned: check
            deposit.cash_returned: check
            customer_image.identity_front: file
            customer_image.identity_back: file
            customer_image.driver_licence_front: file
            customer_image.driver_licence_back: file
            customer_image.house_hold: file
            before_car_image.car_front: file
            before_car_image.car_back: file
            before_car_image.car_left: file
            before_car_image.car_right: file
            before_car_image.car_interior: file
            before_car_image.fuel_gauge: file
            before_car_image.car_video: file
            after_car_image.car_front: file
            after_car_image.car_back: file
            after_car_image.car_left: file
            after_car_image.car_right: file
            after_car_image.car_interior: file
            after_car_image.fuel_gauge: file
            after_car_image.car_video: file
            booking_paper.rental_contract: file
            booking_paper.receive_report: file
            booking_paper.return_report: file
            contract_created_by: select
            contract_sign_date: datetime
            return_customer_assets: check
            hold_customer_note: textarea
            hold_customer_reason: textarea
            hold_customer_return_date: date
            receive_vehicle_status: textarea
            return_vehicle_status: textarea
            other_costs: select:config
            customer_note: textarea
            birthday: date
            booking_status: select:config
            vehicle_full: check
            return_vehicle_same: check
            add_ons: select:config
            car_document_image.registration_document: file
            car_document_image.registration_certificate: file
            car_document_image.liability_insurance_certificate: file
            car_document_image.physical_insurance_certificate: file
            car_document_image.other_document: file
            operation_costs.code: select:config
            estimate_add_ons.code: select:config
            post_operation_costs.code: select:config
            final_note: textarea
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BookingParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - booking
      summary: Xóa đơn đặt xe
      operationId: BookingDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /bookings/{id}/document-preview/{entity}:
    get:
      tags:
        - booking
      summary: Xem trước hợp đồng và biên bản giao xe
      operationId: BookingDocument
      produces:
        - >-
          application/vnd.openxmlformats-officedocument.wordprocessingml.document
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: ID đơn hàng
        - name: entity
          in: path
          required: true
          type: string
          description: Loại giấy tờ cần xem
          enum:
            - contract
            - receive_report
      responses:
        '200':
          description: Success
          schema:
            type: file
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /uploads:
    post:
      tags:
        - upload
      summary: Upload tệp tin
      operationId: UploadFile
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          name: file
          type: file
          description: Hỗ trợ các định dạng jpg, jpeg, png, pdf, docx
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              status:
                type: string
              data:
                type: string
                description: Đường dẫn file
            example:
              status: success
              data: http://localhost:8800/uploads/default.jpeg
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /exports/booking-list:
    get:
      tags:
        - booking
      summary: Xuất danh sách đơn hàng
      operationId: BookingExport
      parameters:
        - in: query
          name: code
          type: string
          description: Mã đơn hàng
        - in: query
          name: phone
          type: string
          description: Số điện thoại
        - in: query
          name: fullname
          type: string
          description: Tên khách hàng
        - in: query
          name: level
          type: string
        - in: query
          name: booking_status
          type: integer
        - in: query
          name: estimate_branch_vehicle_id
          type: integer
          description: Xe giao dự kiến
        - in: query
          name: actual_branch_vehicle_id
          type: integer
          description: Xe giao thực tế
        - in: query
          name: source
          type: string
          description: Nguồn
        - in: query
          name: receive_datetime_from
          type: string
          format: YYYY-MM-DD
          description: Ngày nhận từ
        - in: query
          name: receive_datetime_to
          type: string
          format: YYYY-MM-DD
          description: Ngày nhận đến
        - in: query
          name: return_datetime_from
          type: string
          format: YYYY-MM-DD
          description: Ngày trả từ
        - in: query
          name: return_datetime_to
          type: string
          format: YYYY-MM-DD
          description: Ngày trả đến
      responses:
        '200':
          description: Success
        '400':
          description: Error
  /exports/customer-list:
    get:
      tags:
        - customer
      summary: Xuất danh sách khách hàng
      operationId: CustomerExport
      parameters:
        - in: query
          name: phone
          type: string
          description: Số điện thoại
        - in: query
          name: fullname
          type: string
          description: Tên khách hàng
        - in: query
          name: email
          type: string
          description: Email
      responses:
        '200':
          description: Success
        '400':
          description: Error
  /bookings/quick-booking:
    post:
      tags:
        - booking
      summary: Thêm đơn hàng từ lịch xe
      operationId: QuickBooking
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            estimate_branch_vehicle_id: select
            estimate_receive_datetime: datetime
            estimate_return_datetime: datetime
            booked_status: select:config
            level: select:config
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/QuickBookingParams'
            required:
              - fullname
              - phone
              - estimate_branch_vehicle_id
              - estimate_receive_datetime
              - estimate_return_datetime
              - level
              - booked_status
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Booking'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /bookings/quick-booking/{id}:
    put:
      tags:
        - booking
      summary: Thêm đơn hàng từ lịch xe (unavaiable)
      operationId: QuickBooking
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            estimate_branch_vehicle_id: select
            estimate_receive_datetime: datetime
            estimate_return_datetime: datetime
            booked_status: select:config
            level: select:config
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/QuickBookingParams'
            required:
              - fullname
              - phone
              - estimate_branch_vehicle_id
              - estimate_receive_datetime
              - estimate_return_datetime
              - level
              - booked_status
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Booking'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /users:
    get:
      tags:
        - user
      summary: Danh sách Người dùng
      operationId: UserList
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            branch_id: multi_select
        - in: query
          name: branch_id
          type: integer
          description: ID chi nhánh
        - in: query
          name: username
          type: string
          description: Tên đăng nhập
        - in: query
          name: fullname
          type: string
          description: Tên người dùng
        - in: query
          name: email
          type: string
          description: Email
        - in: query
          name: phone
          type: string
          description: Số điện thoại
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                branch_id:
                  type: string
                  description: Chi nhánh
                username:
                  type: string
                  description: Tên đăng nhập
                fullname:
                  type: string
                  description: Họ và tên
                phone:
                  type: string
                  description: Số điện thoại
                email:
                  type: string
                  description: Email
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - user
      summary: Thêm mới người dùng
      operationId: UserCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            branch_id: select
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/UserParams'
              - required:
                  - username
                  - fullname
                  - phone
                  - branch_id
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /users/{id}:
    get:
      tags:
        - user
      summary: Lấy thông tin Người dùng
      operationId: UserDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/User'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - user
      summary: Cập nhật thông tin Người dùng
      operationId: UserEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            branch_id: multi_select
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UserParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /trust-scores:
    get:
      tags:
        - trust-score
      summary: Danh sách điểm tín dụng
      operationId: TrustScoreList
      parameters:
        - in: query
          name: name
          type: string
          description: Tên điểm tín dụng
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID
                  example: 10
                name:
                  type: string
                  description: Tên tiêu chí
                trust_scores:
                  type: string
                  description: Điểm đánh giá
                  default: 0
                note:
                  type: string
                  description: Mô tả
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - trust-score
      summary: Thêm mới điểm tín dụng
      operationId: TrustScoreCreate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/TrustScoreParams'
              - required:
                  - name
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /trust-scores/{id}:
    get:
      tags:
        - trust-score
      summary: Lấy chi tiết điểm tín dụng
      operationId: TrustScoreDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrustScore'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - trust-score
      summary: Cập nhật điểm tín dụng
      operationId: TrustScoreEdit
      parameters:
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TrustScoreParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - trust-score
      summary: Xóa điểm tín dụng
      operationId: TrustScoreDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /booked-schedules:
    get:
      tags:
        - booking-schedule
      summary: Lịch xe
      operationId: BookingSchedule
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            from_date: date
            to_date: date
            vehicle_class: select:config
            branch_id: select
            show_avaiable: check
            date_type: select:config
            price_range: select:config
        - in: query
          name: from_date
          type: string
          description: Từ ngày
          format: YYYY-MM-DD
        - in: query
          name: to_date
          type: string
          description: Đến ngày
          format: YYYY-MM-DD
        - in: query
          name: date_type
          type: string
          description: Kiểu ngày cần tìm kiếm
          enum:
            - receive
            - return
        - in: query
          name: branch_id
          type: integer
          description: Chi nhánh
        - in: query
          name: vehicle_class
          type: string
          description: Loại xe
        - in: query
          name: license_number
          type: string
          description: Biển số xe
        - in: query
          name: show_avaiable
          type: string
          enum:
            - 0
            - 1
          description: Chỉ lấy xe trống
        - in: query
          name: price_range
          type: string
          description: Khoảng giá
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DefScheduleResponse'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /delivery-tasks:
    get:
      tags:
        - delivery-task
      summary: Danh sách giao nhận
      operationId: DeliveryTaskList
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            from_date: date
            to_date: date
            task_type: select:config
            task_status: multi_select:config
            user_id: select
            branch_id: select
        - in: query
          name: booking_code
          type: string
          description: Mã đơn hàng
        - in: query
          name: phone
          type: string
          description: Số điện thoại
        - in: query
          name: fullname
          type: string
          description: Tên khách hàng
        - in: query
          name: email
          type: string
          description: Email
        - in: query
          name: task_status
          type: string
          enum:
            - pending
            - canceled
            - done
          description: Trạng thái công việc
        - in: query
          name: branch_id
          type: integer
          description: Chi nhánh
        - in: query
          name: user_id
          type: integer
          description: Người thực hiện
        - in: query
          name: task_type
          type: string
          description: Công việc
          enum:
            - receive
            - return
        - in: query
          name: from_date
          type: string
          format: YYYY-MM-DD
          description: Ngày thực hiện từ
        - in: query
          name: to_date
          type: string
          format: YYYY-MM-DD
          description: Ngày thực hiện đến
        - in: query
          name: vehicle_name
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/DeliveryTask'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /delivery-tasks/{id}:
    put:
      tags:
        - delivery-task
      summary: Cập nhật giao nhận
      operationId: DeliveryTaskEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            task_status: select:config
            user_id: select
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeliveryTaskParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /delivery-tasks/schedules:
    get:
      tags:
        - delivery-task
      summary: Lịch giao nhận
      operationId: DeliverySchedule
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            from_date: date
            to_date: date
            branch_id: select
            date_type: select:config
            delivery_status: multi_select:config
            price_range: select:config
        - in: query
          name: from_date
          type: string
          description: Từ ngày
          format: YYYY-MM-DD
        - in: query
          name: to_date
          type: string
          description: Đến ngày
          format: YYYY-MM-DD
        - in: query
          name: date_type
          type: string
          description: Kiểu ngày cần tìm kiếm
          enum:
            - receive
            - return
        - in: query
          name: branch_id
          type: integer
          description: Chi nhánh
        - in: query
          name: delivery_status
          type: string
          description: Trạng thái
          enum:
            - pending
            - received
            - returned
        - in: query
          name: license_number
          type: string
          description: Biển số xe
        - in: query
          name: price_range
          type: string
          description: Khoảng giá
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeliveryScheduleResponse'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /delivery-tasks/booking/{id}:
    get:
      tags:
        - delivery-task
      summary: Chi tiết giao nhận xe
      operationId: DeliveryDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          description: ID booking
      responses:
        '200':
          description: Success
          schema:
            allOf:
              - $ref: '#/definitions/DeliveryParams'
              - type: object
                properties:
                  branch:
                    description: Thông tin chi nhánh
                    type: object
                    properties:
                      bank_account_name:
                        type: string
                        description: Tên chủ tài khoản
                        example: Nguyễn Văn A
                      bank_account_number:
                        type: string
                        description: Số tài khoản
                        example: '19035651301016'
                      bank_name:
                        type: string
                        description: Tên ngân hàng
                        example: Teckcombank
                      bank_branch_name:
                        type: string
                        description: Tên chi nhánh
                        example: CN Hai Bà Trưng
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - delivery-task
      summary: Cập nhật giao nhận
      operationId: DeliveryEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            give_user_id: select
            return_user_id: select
            receive_note: textarea
            return_note: textarea
            deposit.identity_paper_returned: check
            deposit.motor_returned: check
            deposit.motor_registration_returned: check
            deposit.cash_returned: check
            before_car_image.car_back: file
            before_car_image.car_left: file
            before_car_image.car_right: file
            before_car_image.car_interior: file
            before_car_image.fuel_gauge: file
            before_car_image.car_video: file
            after_car_image.car_front: file
            after_car_image.car_back: file
            after_car_image.car_left: file
            after_car_image.car_right: file
            after_car_image.car_interior: file
            after_car_image.fuel_gauge: file
            after_car_image.car_video: file
            booking_paper.rental_contract: file
            booking_paper.receive_report: file
            booking_paper.return_report: file
            other_costs: select:config
            add_ons: select:config
            operation_costs.code: select:config
            post_operation_costs.code: select:config
            delivery_status: select:config
        - name: id
          in: path
          required: true
          type: integer
          description: ID booking
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeliveryParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /delivery-tasks/booking:
    post:
      tags:
        - delivery-task
      summary: Thêm mới giao nhận
      operationId: DeliveryCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            give_user_id: select
            return_user_id: select
            receive_note: textarea
            return_note: textarea
            deposit.identity_paper_returned: check
            deposit.motor_returned: check
            deposit.motor_registration_returned: check
            deposit.cash_returned: check
            before_car_image.car_back: file
            before_car_image.car_left: file
            before_car_image.car_right: file
            before_car_image.car_interior: file
            before_car_image.fuel_gauge: file
            before_car_image.car_video: file
            after_car_image.car_front: file
            after_car_image.car_back: file
            after_car_image.car_left: file
            after_car_image.car_right: file
            after_car_image.car_interior: file
            after_car_image.fuel_gauge: file
            after_car_image.car_video: file
            booking_paper.rental_contract: file
            booking_paper.receive_report: file
            booking_paper.return_report: file
            other_costs: select:config
            add_ons: select:config
            operation_costs.code: select:config
            post_operation_costs.code: select:config
            delivery_status: select:config
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeliveryParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
  /owner-contracts:
    get:
      tags:
        - owner-contract
      summary: Danh sách hợp đồng
      operationId: OwnerContractList
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            branch_id: select
            rental_type: select:config
        - in: query
          name: vehicle_name
          type: string
          description: Tên xe
        - in: query
          name: branch_id
          type: integer
          description: Chi nhánh
        - in: query
          name: owner_name
          type: string
          description: Chủ xe
        - in: query
          name: rental_type
          type: string
          description: Loại thuê
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/OwnerContractItem'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
        - owner-contract
      summary: Thêm mới hợp đồng
      operationId: OwnerContractCreate
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            contract_sign_date: date
            branch_vehicle_id: select
            owner_id: select
            contract_created_by: select
            rental_type: select:config
            reconciliation: select:config
            has_maintain: check
            has_insurance: check
            rental_from_date: date
            rental_to_date: date
            contract_paper.owner_contract: file
            contract_paper.delivery_report: file
            contract_note: textarea
        - in: body
          name: body
          required: true
          schema:
            allOf:
              - $ref: '#/definitions/OwnerContractParams'
              - required:
                  - owner_id
                  - branch_vehicle_id
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: Error
          schema:
            $ref: '#/definitions/ApiResponseError'
  /owner-contracts/{id}:
    get:
      tags:
        - owner-contract
      summary: Lấy thông tin hợp đồng
      operationId: OwnerContractDetail
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OwnerContractDetail'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      tags:
        - owner-contract
      summary: Cập nhật thông tin hợp đồng
      operationId: OwnerContractEdit
      parameters:
        - in: query
          name: 3p
          type: string
          default:
            contract_sign_date: date
            branch_vehicle_id: select
            owner_id: select
            contract_created_by: select
            rental_type: select:config
            reconciliation: select:config
            has_maintain: check
            has_insurance: check
            rental_from_date: date
            rental_to_date: date
            contract_paper.owner_contract: file
            contract_paper.delivery_report: file
            contract_note: textarea
            contract_images: multi_file
        - name: id
          in: path
          required: true
          type: integer
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/OwnerContractParams'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
        - owner-contract
      summary: Xóa hợp đồng
      operationId: OwnerContractDelete
      parameters:
        - name: id
          in: path
          required: true
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/inline_response_200'
        '400':
          description: ERROR
          schema:
            $ref: '#/definitions/ApiResponseError'
definitions:
  ApiResponseError:
    type: object
    properties:
      status:
        type: string
        enum:
          - error
      message:
        type: string
  CustomerParams:
    type: object
    properties:
      fullname:
        type: string
      phone:
        type: string
      email:
        type: string
      zalo:
        type: string
      birthday:
        type: string
        description: Ngày sinh (YYYY-MM-DD)
      identity_number:
        type: string
        description: CCCD/Hộ chiếu
      identity_date:
        type: string
        format: YYYY-MM-DD
        description: Ngày cấp
      driver_licence:
        type: string
        description: Số GPLX
      driver_licence_date:
        type: string
        format: YYYY-MM-DD
        description: Ngày cấp
      house_hold:
        type: string
        description: Sổ hộ khẩu
      house_hold_date:
        type: string
        format: YYYY-MM-DD
        description: Ngày cấp SHK
      other_paper:
        type: string
        description: Giấy tờ khác
      other_paper_note:
        type: string
        description: Ghi chú Giấy tờ khác
      asset_deposit:
        type: string
        description: Tài sản đặt cọc
      asset_deposit_note:
        type: string
        description: Ghi chú tài sản đặt cọc
      address:
        type: string
        description: Địa chỉ
      customer_note:
        type: string
        description: Ghi chú
      customer_image_identity_front:
        type: string
        description: CMND/CCCD mặt trước
      customer_image_identity_back:
        type: string
        description: CMND/CCCD mặt trước
      customer_image_driver_licence_front:
        type: string
        description: Bằng lái xe mặt trước
      customer_image_driver_licence_back:
        type: string
        description: Bằng lái xe mặt sau
      customer_image_house_hold:
        type: array
        description: Hộ khẩu
        items:
          type: string
      customer_image_other_paper:
        type: array
        description: Giấy tờ khác
        items:
          type: string
      customer_image_asset_deposit:
        type: array
        description: Tài sản đặt cọc
        items:
          type: string
      verify_identity:
        type: integer
        description: Xác minh trạng thái CMND/CCCD
        enum:
          - 0
          - 10
        example: 0
      verify_driver_licence:
        type: integer
        description: Xác minh trạng thái bằng lái xe
        enum:
          - 0
          - 10
        example: 0
      verify_house_hold:
        type: integer
        description: Xác minh trạng thái hộ khẩu
        enum:
          - 0
          - 10
        example: 0
      verify_other_paper:
        type: integer
        description: Xác minh trạng thái giấy tờ khác
        enum:
          - 0
          - 10
        example: 0
      verify_asset_deposit:
        type: integer
        description: Xác minh trạng thái tài sản đặt cọc
        enum:
          - 0
          - 10
        example: 0
  Customer:
    allOf:
      - $ref: '#/definitions/CustomerParams'
      - type: object
        properties:
          id:
            type: integer
            example: 10
          created_at:
            type: string
            format: YYYY-MM-DDTHH:mm:ssz
            example: 2022-12-24T10:00:00+00.00
          updated_at:
            type: string
            format: YYYY-MM-DDTHH:mm:ssz
            example: 2022-12-24T10:00:00+00.00
  DefScheduleResponse:
    type: object
    properties:
      status:
        type: string
      data:
        type: object
        properties:
          minDate:
            type: string
            description: Giới hạn ngày tìm kiếm nhỏ nhất
            example: '2022-10-20'
          maxDate:
            type: string
            description: Giới hạn ngày tìm kiếm lớn nhất
            example: '2022-10-22'
          totalDays:
            type: integer
            description: Tổng số ngày trong khoảng tìm kiếm
            example: 3
          listDays:
            type: array
            description: Danh sách ngày trong khoảng tìm kiếm
            items:
              type: string
              example: '2022-10-20'
          weekends:
            type: array
            description: Danh sách các ngày cuối tuần
            items:
              type: string
              example: '2022-10-21'
          branchVehicles:
            type: array
            description: Danh sách xe
            items:
              type: object
              properties:
                id:
                  type: integer
                  description: ID xe chi nhánh
                  example: 1
                name:
                  type: string
                  description: Tên xe
                  example: 30F-22028 Toyota Vios 1.5 số Tự động Đen
                customer_base_price:
                  type: integer
                  description: Giá ngày thường
                  example: 600000
                customer_weekend_price:
                  type: integer
                  description: Giá cuối tuần
                  example: 800000
                vehicle.image:
                  type: string
                  description: Link ảnh đại diện của xe
                  example: >-
                    http://localhost:8800/uploads/vios-nau-vang20230317145046.png
          data:
            type: array
            description: Danh sách xe có trong lịch xe
            items:
              type: object
              properties:
                branch_vehicle_id:
                  type: integer
                  description: ID xe chi nhánh
                items:
                  type: array
                  description: Danh sách các booking theo xe
                  items:
                    type: object
                    properties:
                      from:
                        type: string
                        description: Ngày giao
                        example: '2022-10-20T01:00:00.000Z'
                      to:
                        type: string
                        description: Ngày trả
                        example: '2022-10-22T03:00:00.000Z'
                      from_time:
                        type: string
                        description: Giờ giao xe
                        example: '8:00'
                      to_time:
                        type: string
                        description: Giờ trả xe
                        example: '10:00'
                      booking_id:
                        type: integer
                        description: ID booking
                        example: 1
                      booking_code:
                        type: string
                        description: Mã đơn hàng
                      booking_status:
                        type: string
                        description: Trạng thái đơn hàng
                      fullname:
                        type: string
                        description: Tên khách hàng
                      phone:
                        type: string
                        description: Số điện thoại
                      email:
                        type: string
                      zalo:
                        type: string
                      give_user:
                        type: string
                        description: Người giao xe
                      return_user:
                        type: string
                        description: Người nhận xe
                      detail:
                        type: string
                        description: Chi tiết booking
                        example: |2-

                              - Mã booking: VTCOTTL230512008
                              - Trạng thái: Trả xe
                              - Họ tên: Charis
                              - SDT: 0999999999
                              - Email: nguyen@gmail.com
                              - Zalo: https://zalo.me/2761260980408892837
                              - Dự kiến: 10:00 20/10 - 10:00 22/10
                              - Thực tế: 10:00 20/10 - 10:00 22/10
                              - Người giao: 
                              - Người nhận: 
                           
  BranchParams:
    type: object
    properties:
      name:
        type: string
        description: Tên chi nhánh
        example: Chi nhánh Ocen Park
      code:
        type: string
        description: Mã chi nhánh (cho phép chữ & số)
        example: VOP
      province_id:
        type: integer
        description: Tỉnh/thành phố
        example: 1
      district_id:
        type: integer
        description: ID quận huyện
        example: 1007
      address:
        type: string
        description: Địa chỉ không bao gồm tỉnh thành, quận huyện
        example: Park 02
      latlng:
        type: string
        description: Tọa độ địa lý
        example: 21.0244247,105.7938073
      rental_time_from:
        type: string
        description: Giờ cho thuê từ
        format: HH:mm
        example: '07:00'
      rental_time_to:
        type: string
        description: Giờ cho thuê đến
        format: HH:mm
        example: '21:00'
      limit_km:
        type: integer
        description: Số km giới hạn/ngày
        example: 250
      overkm_fee:
        type: integer
        description: Phụ trội km (đ/km)
        example: 5000
      overtime_fee:
        type: integer
        description: Phụ trội thời gian (đ/giờ)
        example: 10000
      free_delivery_km:
        type: integer
        description: Số km giao nhận miễn phí (km)
        example: 10
      delivery_fee:
        type: integer
        description: Phí giao nhận (đ/km)
        example: 15000
      procedure:
        $ref: '#/definitions/Procedure'
        description: Thủ tục thuê xe
      holiday_event_price:
        $ref: '#/definitions/HolidayEventPrice'
        description: Giá theo ngày lễ (<=100 tính theo %, > 100 tính theo giá fix)
      week_days_price:
        $ref: '#/definitions/WeekDaysPrice'
        description: Giá theo ngày trong tuần (<=100 tính theo %, > 100 tính theo giá fix)
      active:
        type: boolean
        description: Hoạt động
        default: true
        example: true
      agent_name:
        type: string
        description: Tên người đại diện
        example: Nguyễn Văn A
      agent_phone:
        type: string
        description: SDT người đại diện
        example: 999999999
      bank_account_name:
        type: string
        description: Tên chủ tài khoản
        example: Nguyễn Văn A
      bank_account_number:
        type: string
        description: Số tài khoản
        example: '19035651301016'
      bank_name:
        type: string
        description: Tên ngân hàng
        example: Teckcombank
      bank_branch_name:
        type: string
        description: Tên chi nhánh
        example: CN Hai Bà Trưng
      tax_number:
        type: string
        description: Mã số thuế
      add_ons:
        type: array
        description: Dịch vụ add-on
        items:
          $ref: '#/definitions/Addon'
      location:
        type: string
        description: Vị trí maps
        example: https://goo.gl/maps/kyhjjT2dseDGRvzY8
      payment_methods:
        type: array
        description: Các phương thức thanh toán sử dụng
        items:
          type: string
[...]
